.vscode
autom4te.cache
config.log
config.status
GNUmakefile
aclocal.m4
obj
obj.dbg
libpinch.a
test/core
test/service-test
.libs
libpinch.la
libtool
test/unit-test
include/pinch/config.hpp.in
include/pinch/config.hpp
test/sftp-test
doc/bin/
doc/html/
doc/autodoc.xml
